# Dataset for Assignment 1
# Can be downloaded from http://www.ee.surrey.ac.uk/CVSSP/demos/chars74k/
/Assignment 1/English/

# Datasets for Assignment 2
# Can be downloaded from https://www.cb.uu.se/~gustaf/texture/
/Assignment 2/training/
/Assignment 2/testing/
